.advantages_section {
  max-width: 1200px;

  width: 1200px;

  padding: 30px 80px;
  margin-bottom: 70px;

  background-color: #cecece31;
  box-shadow: 5px 5px 4px 2px #c7c7c7;
}

.advantages_text {
  display: flex;

  flex-direction: column;

  align-items: center;

  margin-bottom: 25px;
}

.advantages_title {
  font-size: 42px;
  color: #000000;
}

.advantages_icons_and_description {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 45px;
}

.advantage {
  display: flex;
  position: relative;
  align-items: center;

  max-width: 420px;
}

.advantage_circle {
  display: flex;
  position: relative;
  width: 78px;
  height: 78px;

  margin-right: 50px;
}

.advantage_icon {
  box-sizing: content-box;

  width: 56px;
  height: 56px;
}

.advantage_description {
  color: #000000;
}

@media (max-width: 1230px) {
  .advantages_section {
    width: 95%;
  }
}

@media (max-width: 800px) {
  .advantages_section {
    padding: 30px;
    width: 100%;
  }

  .advantage_circle {
    margin-right: 10px;
  }
}

@media (max-width: 520px) {
  .advantages_section {
    padding: 15px;
  }

  .advantage_circle {
    width: 45px;
    height: 45px;
  }

  .advantages_icons_and_description{
    gap: 20px 10px;
  }

  .advantage_description {
    font-size: 15px;
  }

  
}
