.main {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.section_title {
  color: #000000;

  font-size: 60px;
  font-weight: 700;
  text-transform: uppercase;

  margin-bottom: 10px;
}

.section_video {
  display: flex;

  justify-content: center;
  margin-bottom: 130px;

  width: 1200px;
  height: 600px;
}

@media (max-width: 1130px) {
  .section_video {
    width: 95%;
    height: 400px;
  }
}

@media (max-width: 800px) {
  .section_title {
    font-size: 30px;
  }

  .section_video {
    width: 80%;
    height: 300px;
    margin-bottom: 30px;
  }
}
