.concept {
  display: flex;

  justify-content: center;

  width: 1200px;
  min-height: 150px;

  margin-bottom: 40px;
  padding: 50px;

  background-color: #cecece31;
  box-shadow: 5px 5px 4px 2px #c7c7c7;
}

.concept_block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.concept_concept_description_title {
  text-align: center;

  font-size: 40px;
  color: #000000;

  margin-bottom: 20px;
}

.concept_description_and_button {
  width: 50%;
}

.concept_description {
  text-align: center;
  
  color: #000000;

  font-size: 30px;
  line-height: 1.2;

  margin-bottom: 20px;
}

.concept_booking_button:hover {
  border-color: #cd863f7e;
  background-color: #cd863f7e;
}

@media (max-width: 1230px) {
  .concept {
    width: 95%;
  }

  .concept_block{
    width: 80%;
  }
}

@media (max-width: 800px) {
  .concept {
    width: 100%;
    flex-direction: column;

    align-items: center;
  }

  .concept_block{
    width: 95%;
  }

  .concept_concept_description_title {
    width: 100%;

    margin-right: 0;

    margin-bottom: 20px;
  }

  .concept_description_and_button {
    display: flex;
    flex-direction: column;

    align-items: center;
    width: 100%;

  }

  .concept_description {
    line-height: 1.2;

    margin-bottom: 20px;
  }
}
